@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, p {
  margin: 0 !important;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #252422;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #252422;
}

h3 {
  font-size: 1.75rem;
  font-weight: 400;
  color: #252422;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #252422;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: #252422;
}

a[href^=tel], a[href^=mailto] {
  color: #FFFFFF; /* Hereda el color del texto del elemento padre */
  text-decoration: none; /* Elimina el subrayado */
}

.btn-fill {
  background-color: #252422;
  padding: 0.5rem 1rem;
  color: #FFFFFF !important;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.btn-fill:hover {
  background-color: #206d9b;
}

header .header-container {
  padding: 2rem;
  height: 6.25rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.25rem;
  gap: 2rem;
  position: relative;
}
header .header-container .header-container-logo {
  cursor: pointer;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  transition: filter 0.3s ease;
}
header .header-container .header-container-logo:hover {
  filter: brightness(75%);
}
header .header-container .header-container-logo img {
  height: 6.25rem;
  width: auto;
  filter: grayscale(1);
}
header .header-container .header-container-logo .header-title {
  margin: auto;
  font-size: 2.5rem;
  font-weight: 800;
  color: #252422;
}
header .header-container .header-container-logo .header-title span {
  color: #252422;
}
header .header-container .header-option {
  color: #252422;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  transition: color 0.3s ease;
}
header .header-container .header-option:hover {
  color: #206d9b;
}
header .header-options-desktop {
  display: flex;
  align-items: center;
  gap: 2rem;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #252422;
  padding: 5rem 1rem;
  gap: 10rem;
}
footer .footer-options {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1.5rem;
}
footer .footer-options .footer-option {
  display: flex;
  gap: 2rem;
}
footer .footer-options .footer-option .footer-text {
  color: #FFFFFF;
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  width: 15rem;
}
footer .footer-options i {
  color: #FFFFFF;
  font-size: 1.5rem;
  margin: auto;
}
footer .footer-name {
  font-size: 2rem;
  font-weight: 800;
  color: #FFFFFF;
  width: 50%;
  margin: auto;
  text-align: left;
}

.content .inicio-component {
  position: relative;
  text-align: center;
  padding: 6rem;
  height: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.content .inicio-component .carousel {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  width: 100%;
}
.content .inicio-component .carousel-container {
  display: flex;
  align-items: center;
  gap: 32px;
}
.content .inicio-component .carousel-images {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
  width: 400px;
  height: 550px;
}
.content .inicio-component .carousel-images img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  border-radius: 10px;
}
.content .inicio-component .prev, .content .inicio-component .next {
  color: #252422;
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.content .inicio-component .prev i, .content .inicio-component .next i {
  font-size: 40px;
}
.content .inicio-component .inicio-background {
  position: absolute;
  max-width: 1792px; /* Esto asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra la imagen perfectamente */
  opacity: 0.3; /* Ajusta la opacidad según necesites */
  z-index: -1; /* Coloca la imagen detrás del texto */
}
.content .inicio-component .inicio-sello {
  position: absolute;
  right: 100px;
  bottom: 100px;
  width: 150px;
  height: 150px;
}
.content .inicio-component h1 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
  font-weight: 700;
}
.content .inicio-component h1 span {
  color: #206d9b;
}
.content .contactar-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}
.content .contactar-component h1 {
  padding-bottom: 0.5rem;
}
.content .contactar-component h4 {
  padding-bottom: 3rem;
}
.content .contactar-component .contactar-container {
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  max-width: 600px;
  width: 100%;
  background-color: #252422;
}
.content .contactar-component .contactar-container form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content .contactar-component .contactar-container form .data-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.content .contactar-component .contactar-container form .data-container label {
  color: #FFFFFF;
  font-weight: 500;
}
.content .contactar-component .contactar-container form .data-container input, .content .contactar-component .contactar-container form .data-container textarea {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: 0;
  outline: none;
}
.content .contactar-component .contactar-container form .data-container textarea {
  height: 200px;
}
.content .contactar-component .contactar-container form .btn-fill {
  background-color: #FFFFFF;
  color: #252422 !important;
  width: 50%;
  font-weight: 800;
  font-size: 1rem;
  border: 0;
}
.content .servicios-component {
  display: flex;
  flex-direction: column;
  background-color: #252422;
  gap: 2rem;
  padding: 6rem;
}
.content .servicios-component h1 {
  text-align: center;
  color: #FFFFFF;
}
.content .servicios-component .servicios-row {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.content .servicios-component .servicios-row .servicios-card {
  padding: 2rem;
  width: 50%;
  max-width: 500px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
}
.content .servicios-component .servicios-row .servicios-card i {
  font-size: 2rem;
  color: #FFFFFF;
  border: 2px solid white;
  padding: 1rem;
  border-radius: 100%;
}
.content .servicios-component .servicios-row .servicios-card h2, .content .servicios-component .servicios-row .servicios-card p {
  color: #FFFFFF;
}
.content .como-trabajamos-component {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .como-trabajamos-component h1 {
  text-align: center;
  padding-bottom: 1rem;
}
.content .como-trabajamos-component h4 {
  padding-bottom: 4rem;
}
.content .como-trabajamos-component .como-trabajamos-outer-container {
  display: flex;
  gap: 3rem;
}
.content .como-trabajamos-component .como-trabajamos-outer-container .como-trabajamos-container, .content .como-trabajamos-component .como-trabajamos-outer-container .como-trabajamos-imagen {
  width: 50%;
}
.content .como-trabajamos-component .como-trabajamos-outer-container .como-trabajamos-imagen {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .como-trabajamos-component .como-trabajamos-outer-container .como-trabajamos-imagen img {
  width: 100%;
  height: auto;
}
.content .como-trabajamos-component .como-trabajamos-outer-container .como-trabajamos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
.content .como-trabajamos-component .como-trabajamos-outer-container .como-trabajamos-container .como-trabajamos-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: rgba(247, 247, 247, 0.75);
  backdrop-filter: blur(10px);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  padding: 2rem;
  border-radius: 10px;
}
.content .como-trabajamos-component .como-trabajamos-outer-container .como-trabajamos-container .como-trabajamos-row i {
  font-size: 3rem;
  color: #252422;
}
.content .como-trabajamos-component .como-trabajamos-outer-container .como-trabajamos-container .como-trabajamos-row h3 {
  text-align: center;
}

@media (min-width: 1000px) {
  .header-options-mobile {
    display: none !important;
  }
}
@media (max-width: 999px) {
  .header-options-desktop {
    display: none !important;
  }
  .header-options-mobile {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  .header-options-mobile i {
    font-size: 30px;
    color: #252422;
  }
  .header-options-mobile .header-contactar i {
    color: #206d9b !important;
  }
  .inicio-sello, .header-title {
    display: none;
  }
  .content .inicio-component {
    padding: 2rem;
  }
  .content .inicio-component h1 {
    font-size: 1.75rem;
  }
  .content .inicio-component h3 {
    font-size: 1rem;
  }
  .content .inicio-component .carousel-images {
    width: 200px;
    height: 350px;
  }
  .content .servicios-component {
    padding: 0;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
  }
  .content .servicios-component .servicios-row {
    flex-direction: column;
    align-items: center;
  }
  .content .servicios-component .servicios-row .servicios-card {
    width: 100%;
  }
  .content .como-trabajamos-component {
    padding: 2rem;
  }
  .content .como-trabajamos-component .como-trabajamos-imagen {
    display: none !important;
  }
  .content .como-trabajamos-component .como-trabajamos-outer-container {
    flex-direction: column;
    align-items: center;
  }
  .content .como-trabajamos-component .como-trabajamos-outer-container .como-trabajamos-container {
    width: 100%;
  }
  .content .contactar-component {
    padding: 2rem;
  }
  footer {
    padding: 2rem;
    gap: 0;
    justify-content: center;
    align-items: center;
  }
  footer .footer-options {
    width: 100%;
    align-items: center;
  }
  footer .footer-name {
    display: none;
  }
  #success-popup, #error-popup {
    width: 80%;
  }
}
html, body, .content {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollba, body::-webkit-scrollbar, .content::-webkit-scrollbar {
  display: none;
}

#success-popup, #error-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #FFFFFF;
  padding: 60px 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
#success-popup h2, #error-popup h2 {
  color: #206d9b;
  font-weight: 600;
}
#success-popup p, #error-popup p {
  margin-top: 24px !important;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.loading-icon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Asegúrate de que esté por encima de otros elementos */
  font-size: 48px; /* Ajusta el tamaño del ícono */
  color: #206d9b; /* Cambia el color según tus preferencias */
}

.carousel-container .prev i,
.carousel-container .next i {
  transition: all 0.3s ease;
}

.carousel-container .prev i:hover,
.carousel-container .next i:hover {
  transform: scale(1.3);
  color: #206d9b;
}

@media (max-width: 768px) {
  /* Desactiva el hover en móviles */
  .carousel-container .prev i,
  .carousel-container .next i {
    pointer-events: none; /* Desactiva hover en touch */
  }
  /* Permite hacer clic en los botones */
  .carousel-container .prev i:active,
  .carousel-container .next i:active {
    pointer-events: auto;
    color: #206d9b; /* Cambia solo el color en el clic */
    transform: none; /* Desactiva el escalado */
  }
}

/*# sourceMappingURL=style.css.map */
