//sass styles/style.scss styles/style.css

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color-primary: #252422;
$color-secondary: #206d9b;
$font-primary: "Poppins", sans-serif;
$color-background: #FFFFFF;
$color-light: #FFFFFF;
$shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);


* {
    font-family: $font-primary;
    box-sizing: border-box;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: $color-background;
}

h1,h2,h3,h4,h5,p {
    margin: 0 !important;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    color: $color-primary;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    color: $color-primary;
}

h3 {
    font-size: 1.75rem;
    font-weight: 400;
    color: $color-primary;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
    color: $color-primary;
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: $color-primary;
}

a[href^="tel"], a[href^="mailto"] {
    color: $color-light; /* Hereda el color del texto del elemento padre */
    text-decoration: none; /* Elimina el subrayado */
}

.btn-fill {
    background-color: $color-primary;
    padding: 0.5rem 1rem;
    color: $color-background !important;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
    transition: background-color 0.3s ease ;
    &:hover {
        background-color: $color-secondary;
    }
}

header {
    .header-container {
        padding: 2rem;
        height: 6.25rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.25rem;
        gap: 2rem;
        position: relative;
        .header-container-logo {
            cursor: pointer;
            position: absolute;
            display: flex;
            top: 0;
            left: 0;
            transition: filter 0.3s ease ;
            &:hover {
                filter: brightness(75%);
            }
            img {
                height: 6.25rem;
                width: auto;
                filter: grayscale(1);
            }
            .header-title {
                margin: auto;
                font-size: 2.5rem;
                font-weight: 800;
                color: $color-primary;
                span {
                    color: $color-primary;
                }
            }
        }
        .header-option {
            color: $color-primary;
            text-align: center;
            cursor: pointer;
            font-weight: 700;
            transition: color 0.3s ease ;
            &:hover {
                color: $color-secondary;
            }
        }
    }
    .header-options-desktop {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}

footer {
    display: flex;
    flex-direction: row;
    background-color: $color-primary;
    padding: 5rem 1rem;
    gap: 10rem;
    .footer-options {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 1.5rem;
        .footer-option {
            display: flex;
            gap: 2rem;
            .footer-text  {
                color: $color-light;
                text-align: left;
                font-size: 1rem;
                font-weight: 600;
                width: 15rem;
            }
        }
        i {
            color: $color-light;
            font-size: 1.5rem;
            margin: auto;
        }
    }
    .footer-name {
        font-size: 2rem;
        font-weight: 800;
        color: $color-light;
        width: 50%;
        margin: auto;
        text-align: left;
    }
}

.content {
    .inicio-component {
        position: relative;
        text-align: center;
        padding: 6rem;
        height: 1024px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
        .carousel {
            display: flex;
            justify-content: center;
            margin-top: 64px;
            width: 100%;
        }

        .carousel-container {
            display: flex;
            align-items: center;
            gap: 32px;
        }
        
        .carousel-images {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 0.5s ease;
            width: 400px;
            height: 550px;
        }
        
        .carousel-images img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 100%;
            border-radius: 10px;
        }
        
        .prev, .next {
            color: $color-primary;
            padding: 8px 12px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            i {
                font-size: 40px;
            }
        }   

        .inicio-background {
            position: absolute;
            max-width: 1792px; /* Esto asegura que la imagen no exceda el ancho del contenedor */
            height: auto; /* Mantiene la proporción de la imagen */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); /* Centra la imagen perfectamente */
            opacity: 0.3; /* Ajusta la opacidad según necesites */
            z-index: -1; /* Coloca la imagen detrás del texto */
        }
        .inicio-sello {
            position: absolute;
            right: 100px;
            bottom: 100px;
            width: 150px;
            height: 150px;
        }
        h1 {
            font-size: 2.5rem;
            padding-bottom: 2rem;
            font-weight: 700;
            span {
                color: $color-secondary;
            }
        }
    }
    .contactar-component {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 6rem;
        h1 {
            padding-bottom: 0.5rem;
        }
        h4 {
            padding-bottom: 3rem;
        }
        .contactar-container {
            border-radius: 10px;
            box-shadow: $shadow;
            max-width: 600px;
            width: 100%;
            background-color: $color-primary;
            form {
                padding: 2rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .data-container {
                    display: flex;
                    flex-direction: column;
                    gap: 0.25rem;
                    label {
                        color: $color-light;
                        font-weight: 500;
                    }
                    input, textarea {
                        border-radius: 10px;
                        padding: 0.5rem 1rem;
                        border: 0;
                        outline: none;
                    }
                    textarea {
                        height: 200px;
                    }
                }
                .btn-fill {
                    background-color: $color-background;
                    color: $color-primary !important;
                    width: 50%;
                    font-weight: 800;
                    font-size: 1rem;
                    border: 0;
                }
            }
        }
    }
    .servicios-component {
        display: flex;
        flex-direction: column;
        background-color: $color-primary;
        gap: 2rem;
        padding: 6rem;
        h1 {
            text-align: center;
            color: $color-light;
        }
        .servicios-row {
            display: flex;
            gap: 2rem;
            justify-content: center;
            .servicios-card {
                padding: 2rem;
                width: 50%;
                max-width: 500px;
                min-height: 350px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                border: 2px solid $color-light;
                border-radius: 10px;
                i {
                    font-size: 2rem;
                    color: $color-light;
                    border: 2px solid white;
                    padding: 1rem;
                    border-radius: 100%;
                }
                h2, p {
                    color: $color-light;
                }
            }
        }
    }
    .como-trabajamos-component {
        padding: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            text-align: center;
            padding-bottom: 1rem;
        }
        h4 {
            padding-bottom: 4rem;
        }
        .como-trabajamos-outer-container {
            display: flex;
            gap: 3rem;
            .como-trabajamos-container,.como-trabajamos-imagen {
                width: 50%;
            }
            .como-trabajamos-imagen {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .como-trabajamos-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 3rem;
                .como-trabajamos-row {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1.5rem;
                    background-color: rgba(rgb(247,247,247),0.75);
                    backdrop-filter: blur(10px);
                    box-shadow: $shadow;
                    padding: 2rem;
                    border-radius: 10px;
                    i {
                        font-size: 3rem;
                        color: $color-primary;
                    }
                    h3 {
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (min-width: 1000px) {
    .header-options-mobile {
        display: none !important;
    }
}

@media (max-width: 999px) {
    .header-options-desktop {
        display: none !important;
    }
    .header-options-mobile {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        i {
            font-size: 30px;
            color: $color-primary;
        }
        .header-contactar {
            i {
                color: $color-secondary !important;
            }
        }
    }

    .inicio-sello, .header-title {
        display: none;
    }

    .content {
        .inicio-component {
            padding: 2rem;
            h1 {
                font-size: 1.75rem;
            }
            h3 {
                font-size: 1rem;
            }
            .carousel-images {
                width: 200px;
                height: 350px;
            }
        }
        .servicios-component {
            padding: 0;
            align-items: center;
            flex-direction: column;
            padding: 2rem;
            .servicios-row {
                flex-direction: column;
                align-items: center;
                .servicios-card {
                    width: 100%;
                }
            }
        }
        .como-trabajamos-component {
            padding: 2rem;
            .como-trabajamos-imagen {
                display: none !important;
            }
            .como-trabajamos-outer-container {
                flex-direction: column;
                align-items: center;
                .como-trabajamos-container {
                    width: 100%;
                }
            }
        }
        .contactar-component {
            padding: 2rem;
        }
    }

    footer {
        padding: 2rem;
        gap:  0;
        justify-content: center;
        align-items: center;
        .footer-options {
            width: 100%;
            align-items: center;
        }
        .footer-name {
            display: none;
        }
    }
    #success-popup, #error-popup {
        width: 80%;
    }
}

html, body, .content {
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollba, body::-webkit-scrollbar, .content::-webkit-scrollbar {
    display: none;
}

#success-popup, #error-popup {
    display: none; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1000; 
    background-color: $color-background; 
    padding: 60px 40px;
    border-radius: 10px; 
    box-shadow: 0 0 15px rgba(0,0,0,0.5);

    h2 {
        color: $color-secondary;
        font-weight: 600;
    }

    p {
        margin-top: 24px !important;
    }
}

.overlay {
    display: none; 
    position: fixed; 
    top: 0; left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.5); 
    z-index: 999;
}

.loading-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Asegúrate de que esté por encima de otros elementos */
    font-size: 48px; /* Ajusta el tamaño del ícono */
    color: $color-secondary; /* Cambia el color según tus preferencias */
}

.carousel-container .prev i,
.carousel-container .next i {
    transition: all 0.3s ease;
}

.carousel-container .prev i:hover,
.carousel-container .next i:hover {
    transform: scale(1.3);
    color: $color-secondary;
}

@media (max-width: 768px) {
    /* Desactiva el hover en móviles */
    .carousel-container .prev i,
    .carousel-container .next i {
        pointer-events: none; /* Desactiva hover en touch */
    }

    /* Permite hacer clic en los botones */
    .carousel-container .prev i:active,
    .carousel-container .next i:active {
        pointer-events: auto;
        color: $color-secondary; /* Cambia solo el color en el clic */
        transform: none; /* Desactiva el escalado */
    }
}